@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #181226;
    margin: 10px;
}

.collapse a {
    color: white;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

.body_section {
    padding: 3% 5% 1%;
}

h1 {
    color: white;
    font-family: 'Tourney', cursive;
}

p {
    font-family: 'Michroma', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

span {
    color: #A16AAD;
}

@font-face {
    font-family: "Lovely Home";
    src: local('Lovely Home'), url("Image/LovelyHome-9aBZ.ttf") format('truetype');
}

.brand-name,
.navbar-light .navbar-brand {
    /* font-family: "Brush Script MT"; */
    /* margin-bottom: 3px; */
    font-family: "Lovely Home";
    font-size: 50px;
    font-weight: bold;
    color: #351458;
}

.headerachor {
    color: black;
    margin: 0 7px 0 7px;
    font-size: 25px;
}


/* Section 1 */

.column1 {
    padding: 8px 16px;
}

.section-1 {
    margin-top: 6%;
    text-align: left;
    position: relative;
}

span.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate( 0.0deg)
    }
    10% {
        transform: rotate(-10.0deg)
    }
    20% {
        transform: rotate( 12.0deg)
    }
    30% {
        transform: rotate(-10.0deg)
    }
    40% {
        transform: rotate( 9.0deg)
    }
    50% {
        transform: rotate( 0.0deg)
    }
    100% {
        transform: rotate( 0.0deg)
    }
}

.first-image {
    position: absolute;
    right: 0;
}

.boyimage {
    height: 400px;
}

.boy {
    width: 100%;
    height: 100%;
    animation: bounce 1.2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, 20px, 0);
    }
}

.Image-boy {
    text-align: center;
    align-items: center;
}

@media only screen and (min-width:951px) {
    .Image-boy {
        display: none;
    }
}

.Hello {
    margin-bottom: 20px;
}

p {
    line-height: 2;
    color: #868e96;
}

.btn {
    display: inline-block;
    width: 4.37rem;
    height: 4.37rem;
    background: #e9e9e9;
    padding: 0px 0px;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}

.btn i {
    line-height: 70px;
    font-size: 1.625rem;
    transition: 0.2s linear;
}

.btn:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}

.btn::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.btn:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@media only screen and (max-width:470px) {
    .btn {
        width: 2.5rem;
        height: 2.5rem;
        margin: 7px;
    }
    .btn i {
        line-height: 40px;
        font-size: 1em;
    }
}

#Whatido {
    text-align: center;
    padding-top: 7%;
}


/* Section 2 */

.feature-1 {
    padding-top: 5%;
    text-align: center;
}

.feature-2 {
    padding-top: 5%;
    text-align: center;
}

.feature-3 {
    padding-top: 5%;
    padding-bottom: 20px;
    text-align: center;
}

.Feature-Heading {
    font-family: "Montserrat";
    font-weight: 300;
}

.Feature-first-image {
    padding: 0 2% 10%;
}

.Feature-second-image {
    padding: 5% 2% 0;
}

.Feature-svg-image {
    width: 100%;
    height: 100%;
}

.Feature-svg-image-3 {
    width: 84%;
    height: 84%;
}

.dev-icon {
    list-style: none;
    display: inline;
    padding: 0%;
}

.numpy {
    max-width: 100%;
    width: 30%;
    height: 30%;
    padding-bottom: 7%;
}

.pandas {
    max-width: 100%;
    max-height: 100%;
    width: 23%;
    height: 15%;
    padding-bottom: 7%;
    padding-left: 0;
}

li {
    display: inline;
}

.Data-Analytic {
    text-align: left;
}

.Features-paragraph {
    margin-top: 8px;
    margin-bottom: 8px;
}

@media only screen and (max-width: 764px) {
    .feature-2 {
        display: flex;
        flex-direction: column;
    }
    .feature-web {
        order: 2;
    }
    .brand-name,
    .navbar-light .navbar-brand {
        /* font-family: "Brush Script MT"; */
        /* margin-bottom: 3px; */
        font-family: "Lovely Home";
        font-size: 40px;
        font-weight: bold;
        color: white;
    }
}

@media only screen and (max-width: 991px) and (min-width: 951px) {
    .section-1 {
        margin-top: auto;
        padding-right: 400px;
    }
}

@media only screen and (max-width: 950px) {
    body,
    html {
        text-align: center;
        font-size: 16px;
        line-height: normal;
    }
    .Hello {
        margin-bottom: 10px;
    }
    h1 {
        font-size: 25px;
    }
    p {
        font-size: 15px;
        line-height: normal;
    }
    .section-1 {
        text-align: center;
    }
    .first-image {
        display: none;
    }
    .pandas {
        width: 23%;
        height: 15%;
    }
}


/*Social icons*/

:root {
    --link-size: 64px;
    --trans-props: all 0.2s ease;
    --link-size-footer-b: 40px;
    --link-size-footer-s: 30px;
}

.social-icons {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.socialicon {
    display: flex;
    position: relative;
    overflow: hidden;
    width: var(--link-size);
    height: var(--link-size);
    background-color: #fff;
    margin: 8px;
    border-radius: 50%;
    box-shadow: 2px 5px 5px var(--shadow-col);
    text-decoration: none;
    transition: var(--trans-props);
}

.socialicon i {
    margin: auto;
    font-size: 24px;
    z-index: 1;
    transition: var(--trans-props);
}

.medium i {
    margin: auto;
    font-size: 24px;
    z-index: 1;
    transition: var(--trans-props);
}

.kaggle i {
    margin: auto;
    font-size: 24px;
    z-index: 1;
    transition: var(--trans-props);
}

.socialicon.kaggle {
    color: var(--col-icon-kaggle);
}

.socialicon.medium {
    color: var(--col-icon-medium);
}

.socialicon:after {
    content: "";
    width: var(--link-size);
    height: var(--link-size);
    position: absolute;
    transform: translate(0, var(--link-size));
    border-radius: 50%;
    transition: var(--trans-props);
}

.socialicon.kaggle:after {
    background-color: #41aff3;
    box-shadow: var(--kaggle);
}

.socialicon.medium:after {
    background-color: #00ab6c;
    box-shadow: var(--medium);
}

.row {
    margin-left: 50px;
    margin-right: 50px;
}

.home__blob {
    width: 400px;
    fill: #A16AAD;
}

.home__social {
    display: flex;
    flex-direction: column;
}

.icons {
    width: 100px;
}

.home__blob-img {
    width: 240px;
    height: 190px;
}

.row .home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 300px;
}

.home div {
    flex-wrap: wrap;
}

.contacte {
    text-align: center;
    justify-content: center;
}

@media only screen and (max-width: 1156px) {
    .row .home {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 100px;
        flex-wrap: wrap;
    }
}

.linkedin-icon {
    margin-left: 15px;
}

.linkedin:hover .linkedin-icon>rect {
    animation: rect-up 0.3s linear infinite;
}

@keyframes rect-up {
    50% {
        y: 10px;
        height: 11px;
    }
    0% {
        y: 13px;
        height: 8px;
    }
}

.linkedin:hover .linkedin-icon>circle {
    animation: bounce 0.4s linear infinite;
}

@keyframes bounce {
    75% {
        cy: 8px;
    }
    50% {
        cy: 4px
    }
    0% {
        cy: 4px
    }
}


/*
  ---------------------------
     INSTAGRAM MICROANIMATION
  ---------------------------
  */

.instagram-icon {
    width: 90px !important;
}

.st0 {
    fill: none;
    stroke: #EF4649;
    stroke-width: 7;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.instagram:hover #littleCircle {
    stroke-dasharray: 150;
}

.instagram #shutter {
    display: none;
}

.instagram:hover #shutter {
    display: block;
    animation: shutter 1s linear infinite;
}

.instagram:hover #lens {
    fill: #EF4649;
    animation: lens 1.5s linear infinite;
}

@keyframes shutter {
    0%,
    50% {
        stroke-dashoffset: 150;
    }
    75% {
        fill: #EF4649;
        stroke-dashoffset: 0;
        stroke-width: 11;
    }
}

@keyframes lens {
    0%,
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*
  ---------------------------
     TWITTER MICROANIMATION
  ---------------------------
  */

.twitter-icon {
    width: 40px;
    margin-left: 12px;
}

.twitter:hover #wing1 {
    transform-origin: center;
    animation: flap 0.4s ease-out infinite alternate;
}

.twitter:hover #wing2 {
    transform-origin: center;
    animation: flap 0.4s ease-in infinite alternate;
}

@keyframes flap {
    50% {
        transform: scaleX(-1) rotate(-45deg) translate(-40px, -40px);
    }
}


/*
  --------------------------
     GITHUB MICROANIMATION
  --------------------------
  */

.github-icon {
    width: 40px;
    margin-left: 12px;
    margin-top: 5px;
    fill: #000000;
}

.github:hover #arm {
    transform-origin: bottom right;
    animation: moveArm 1s infinite alternate;
}

@keyframes moveArm {
    0% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}


/*
    --------------------------
       DRIBBBLE MICROANIMATION
    --------------------------
    */

.dribbble-icon {
    width: 30px;
    height: 30px;
    margin-left: 16px;
    margin-top: 20px;
}

.dribbble:hover .dribbble-icon {
    animation: dribbble-bounce .4s ease infinite;
    transform: rotate(360deg);
    transition: all 9s ease-in-out 0s;
}

@keyframes dribbble-bounce {
    from,
    to {
        margin-top: 20px;
    }
    50% {
        margin-top: 15px;
    }
    75% {
        margin-top: 15px;
    }
}


/*
    --------------------------
       CODEFORCES MICROANIMATION
    --------------------------
    */


/*
  ----------------------------
     SOCIAL MEDIA ANIMATIONS
  ----------------------------
  */

.socialicon:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
}

.socialicon:hover:after {
    transform: translate(0) scale(1.2);
}

.socialicon:hover i {
    color: #fff;
}

a:hover {
    color: transparent;
}

@media only screen and (max-width: 450px) {
    .text {
        margin-top: 5rem;
    }
}

@media only screen and (max-width:2381px) {
    .text {
        margin-top: 2rem;
    }
}

@media only screen and (max-width:1340px) {
    .text {
        margin-top: 4rem;
    }
}

@media only screen and (max-width:780px) {
    .text {
        margin-top: 6rem;
    }
}

@media only screen and (max-width:700px) {
    .text {
        margin-top: 8rem;
    }
}

@media only screen and (max-width:580px) {
    .text {
        margin-top: 4rem;
    }
}

@media only screen and (max-width:350px) {
    .text {
        margin-top: 8rem;
    }
}

@media only screen and (max-width:270px) {
    .text {
        margin-top: 12rem;
    }
}


/* responsiveness */

@media (min-width:360px) and (max-width:361px) {
    .text {
        margin-top: 6rem;
    }
}

@media (min-width:410px) and (max-width:411px) {
    .text {
        margin-top: 1rem;
    }
}

@media only screen and (min-height:731px) {
    .text {
        margin-top: 2rem;
    }
}

@media (min-width:320px) and (max-width:321px) {
    .text {
        margin-top: 10rem;
    }
}

@media (min-height:822px) and (max-height:823px) {
    .text {
        margin-top: 10rem;
    }
}

@media only screen and (min-height:768px) {
    .text {
        margin-top: -4rem;
    }
}

@media (min-width:1020px)and (max-width:1024px) {
    .text {
        margin-top: -12rem;
    }
}

@media (min-width:520px)and (max-width:521px) {
    .text {
        margin-top: 2rem;
    }
}

@media (min-height:810px)and (max-height:812px) {
    .text {
        margin-top: 1rem;
    }
}

@media (min-height:822px)and (max-height:823px) {
    .text {
        margin-top: 1rem;
    }
}

.footer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icones-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    background-color: #100E18;
    background-attachment: fixed;
}

.footer1>p {
    color: white;
    font-size: 18px;
    font-family: Roboto;
}

.icones-footer a {
    float: left;
    padding-left: 8px;
}

.icones-footer i {
    font-size: 30px;
    color: white;
}

main {
    margin-bottom: 50px
}

header {
    background-attachment: fixed;
}

.icones-footer a :hover {
    color: #A16AAD;
}

.footer1>p:hover {
    color: #A16AAD;
}

#title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    padding-left: 10px;
}

#title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}

.ml4 {
    position: relative;
    font-weight: 500;
    font-size: 3.5em;
}

.ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0;
}

@media (max-width:951px) {
    .ml4 {
        font-weight: 200;
        font-size: 1.5em;
    }
}

a {
    color: white;
    font-family: 'Big Shoulders Stencil Display', cursive;
    z-index: 10;
}

.row {
    margin-bottom: 200px;
}

.contacte {
    margin-bottom: 70px;
}

.social-icons {
    margin-bottom: 200px;
}

.navbar {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 3rem;
}

.menu {
    max-width: 72rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.logo {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 4rem;
}

.logo span {
    font-weight: 300;
}

.hamburger-menu {
    height: 4rem;
    width: 3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bar {
    width: 1.9rem;
    height: 1.5px;
    border-radius: 2px;
    background-color: #eee;
    transition: 0.5s;
    position: relative;
}

.bar:before,
.bar:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #eee;
    transition: 0.5s;
}

.bar:before {
    transform: translateY(-9px);
}

.bar:after {
    transform: translateY(9px);
}

.container1.active .bar {
    transform: rotate(360deg);
    background-color: transparent;
}

.container1.active .bar:before {
    transform: translateY(0) rotate(45deg);
}

.container1.active .bar:after {
    transform: translateY(0) rotate(-45deg);
}

.container1.active .main {
    animation: main-animation 0.5s ease;
    cursor: pointer;
    border: #A16AAD;
    border-style: solid;
    transform: perspective(1500px) rotateY(20deg) translateZ(310px) scale(0.5);
    box-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #A16AAD, 0 0 80px #A16AAD, 0 0 90px #A16AAD, 0 0 100px #A16AAD, 0 0 150px #A16AAD;
    padding-bottom: 50px;
    margin: 0px;
    transition: 1s;
}

.container1.active .main h1 {
    text-align: left;
}

.container1.active .main .boyimage {
    width: 100%;
    height: 80;
}

.container1.active .main h1 {
    font-size: 30px;
}

@keyframes main-animation {
    from {
        transform: translate(0);
    }
    to {
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }
}

.links a {
    visibility: hidden;
}

.container1.active .links {
    position: absolute;
    width: 30%;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container1.active ul {
    list-style: none;
}

.container1.active .links a {
    text-decoration: none;
    color: white;
    padding-right: 16px;
    display: inline-block;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(10px);
    font-size: 30px;
    visibility: visible;
}

.container1.active .links a:hover {
    color: #A16AAD;
}

.container1.active .links a {
    animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes hide {
    from {
        opacity: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}

.container1.active .main:hover+.shadow.one {
    transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.container1.active .main:hover {
    transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

.Home {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ml4 {
    font-size: 30PX;
    padding-bottom: 80px;
}

nav {
    margin-bottom: 50px;
}

.hello2 {
    padding-bottom: 30px;
}

.ski {
    text-align: center;
}

.margin {
    margin-bottom: 200px;
}

.contacte>h1 {
    margin-bottom: 10px;
}

.contacte>p {
    margin-bottom: 50px;
}

.row {
    margin-top: 80px;
}
@media only screen and (max-width: 950px) {
    .ml4 {
        font-size: 20PX;
        margin-bottom: 100px;
    }
    .home__blob {
        width: 300px;
        fill: #A16AAD;
    }
}
